body {
  background: white;
}

.banner {
  width: 100%;
}

.principal {
  background: #cccccc;
  padding: 30px;
}

.titulo-principal {
  padding-left: 20px;;
}
.titulo-centralizado {
  text-align: center;
}

p {
  text-align: center;
}

#missao {
  font-size: 20px;
}

em strong {
  color: red;
}

.itens {
  font-style: italic;
  vertical-align: super;
  

}
.beneficios {
  background: white;
  padding: 20px;
  vertical-align: middle;
}

h2 {
  text-align: center;
}
ul {
  display:inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%
}
.imagemBeneficios {
  width: 50%;
  display: inline-block;
  text-align: left;

}

footer {
  text-align: center;
  background-color: #1f1919;
  padding: 40px 0;
  /* background-image: url('/images/1.jpg'); */
}
.copy-right-index {
  color: white;
  font-size: 13px;
  margin-top: 18px;

}